<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>edit</title>
  </head>
  <body>
    <h1>edit student data</h1>

    <form action="/edit/<%=student.id%>" method="POST">
      <label for="name">Name</label>
      <input type="text" name="name" value="<%=student.name%>" required />
      <br />
      <button type="submit">update</button>
    </form>
  </body>
</html>